<h4>Janey AI Plugin Settings</h4>
<div style="margin-right: 10px">
    <table class="widefat">
        <thead>
            <th>Setting</th>
            <th>Description</th>
            <th>Default</th>
        </thead>
        <tbody>
            <tr>
                <td>API Access Token</td>
                <td>The Janey AI plugin requires API access to function. You can generate an access token at: <a href="https://janey.ai/" target="_blank">https://janey.ai/</a></td>
                <td></td>
            </tr>
            <tr>
                <td>Target Taxonomy</td>
                <td>The taxonomy under which tags that you specify will be added. <em>Currently does not support hierarchical taxonomies like categories.</em></td>
                <td>post_tag</td>
            </tr>
            <tr>
                <td>Remember "Analyze on Save"</td>
                <td>When enabled, a post with "Analyze on Save" enabled will reload with the setting enabled. This will result in signifantly more API calls, with the added convenience of not having to manually enable on every update.</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Only Landscape-oriented Pictures</td>
                <td>When enabled, only landscape-oriented images will be recommended.</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
